@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* background: linear-gradient(180deg,#ede3f5 0%, #ffffff 100%); */
    background-image: url('/assets/images/layered-waves-haikei(2).svg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
